.header {
    background-color: midnightblue;
    min-height: 100px;
    border-bottom: 10px solid black;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    
    
}

.row {
    display:flex;
    flex-wrap: wrap;
    
    
}

.nav-list-item {

   text-decoration: none;

   margin-right: 20px;
   margin-top: 20px;
   list-style: none;
}

.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }