.header {
  background-color: midnightblue;
  min-height: 100px;
  border-bottom: 10px solid black;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.nav-list-item {
  text-decoration: none;

  margin-right: 20px;
  margin-top: 20px;
  list-style: none;
}

.content {
  padding: 16px;
}

.section-button {
  margin: 0 auto;
  color: red;
  display: block;

}
